<!DOCTYPE html>
<html>
<head>
  <title>Security Council</title>
  <link rel="stylesheet" href="public/css/bootstrap.css">
  <link rel="stylesheet" href="public/css/bootstrap-theme.css">
  <!-- <script src="public/js/{script}.js"></script> -->
<head>
<body>
<div id="baseheader" class="navbar navbar-default navbar-fixed-top">
<div id="navbarContainer" class="container">
  <div id="navbarBrand" class="navbar-header">
    <a href="/" class="navbar-brand">Model U.N.</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#">Logout</a></li>
  </ul>
</div>
</div>
<!-- BODY FOLLOWS -->
